name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
          sh tests/integration/localstack-installation.sh"
      extra-arguments: |
        --localstack-url http://172.17.0.1:4566 \
        --kube-config ${GITHUB_WORKSPACE}/kube-config
  allure-report:
    if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
